<h1 class="text-2xl font-bold mb-4">Nueva Tarea</h1>



<%= form_with model: @task, local: true, class: "space-y-4" do |f| %>
<div>
  <%= f.label :title, class: "block font-medium" %> 
  <%= f.text_field :title, class: "w-full border rounded p-2" %>
</div>

<div>
  <%= f.label :description, class: "block font-medium" %> 
  <%= f.text_area :description, class: "w-full border rounded p-2" %>
</div>

<div>
  <%= f.label :completed, class: "block font-medium" %> 
  <%= f.check_box :completed %>
</div>

<div>
  <%= f.label :due_date, "Fecha límite", class: "block font-medium" %> 
  <%= f.date_field :due_date, class: "w-full border rounded p-2" %>
</div>

<%= f.submit "Guardar", class: "bg-blue-500 text-white px-4 py-2 rounded" %> <%
end %>

<div class="mt-4">
  <%= link_to "Regresar", tasks_path, class: "px-4 py-2 bg-blue-600 text-white rounded" %>
</div>